<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="1.0.3" targetFramework="net472" />
  <package id="FSharp.Core" version="7.0.300" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.46" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net472" />
  <package id="Selenium.Mozilla.Firefox.Webdriver" version="0.6.0.1" targetFramework="net472" />
  <package id="Selenium.Support" version="4.10.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.10.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="114.0.5735.9000" targetFramework="net472" />
  <package id="Selenium.WebDriver.WaitExtensions" version="2.0.0" targetFramework="net472" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="7.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="7.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="WebDriverManager" version="2.16.2" targetFramework="net472" />
</packages>